.movie-card {
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
	width: 18%;
	overflow: hidden;
	margin: 5px;
	border-radius: 5px;
	min-width: 300px;
}

.movie-card:hover {
	cursor: pointer;
}

.movie-card:hover {
	scale: 1.02;
}

.movie-card img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

h4 {
	font-size: 1em;
	margin: 5px;
}

p {
	font-weight: normal;
	font-size: 0.7em;
	margin-bottom: 5px;
}

span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

.icon-img img {
	width: 40px;
	height: 32px;
}

.icon-img img:hover {
	cursor: pointer;
}
