.app {
	text-align: center;
}

.app-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	padding: 20px;
}

.search-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

.app-footer {
	background-color: #20232a;
	padding: 15px;
	height: 100px;
	margin-top: 20px;
}

.app-sidebar {
	background-color: #f0f0f0;
	padding: 20px;
	width: 250px;
	height: 100vh;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

span {
}

span:hover {
	font-weight: bold;
	cursor: pointer;
}
